<div id="background"></div>

<div class="flex-container">
  <div class="container">
    <h1>Recherche de joueur</h1>

    <%= form_tag players_path, method: :get do %>
        <%= text_field_tag :name %>
        <%= select_tag :region, options_for_select(["EUW","RU","EUNE","OCE","TR","JP","KR","BR","NA","LAS"]) %>
        <div class="actions">
          <%= submit_tag "Rechercher" %>
        </div>
    <% end %>

  </div>
</div>